body {
    text-align: center;
    background-color: #F5EBEB;
    font-family:'Courgette', cursive;
}
h1 {
    color: #D5B4B4;
}
img {
    width: 500px;
    height: 400px;
}
h2 {
    color: #867070;
}
.kucukbaslik {
    color: #A84448;
}
li {
    list-style-position: inside;
}
a {
    text-decoration: none;
    color: #A84448;
    
}